<template x-if="currentPage === 'project-detail'">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 fade-in-up">
        <div x-show="!selectedProject" class="text-center py-12">
            <div class="animate-spin w-12 h-12 border-4 border-purple-200 border-purple-600 rounded-full mx-auto mb-4"></div>
            <p class="text-gray-600" x-text="t('loading')"></p>
        </div>

        <div x-show="selectedProject" class="space-y-6">
            {{ template "ProjectHeader.html" . }}
            {{ template "TabOverview.html" . }}
            {{ template "TabGrowth.html" . }}
            {{ template "TabQuality.html" . }}
            {{ template "TabVisitors.html" . }}
            {{ template "TabDiagnostics.html" . }}
        </div>
    </div>
</template>
